<div *ngIf="!wallet" class="m-wallet__spinner m-wallet__spinner--tokenSettings">
  <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
</div>
<div class="m-walletSettings" *ngIf="wallet" scrollTarget>
  <!-- -------------------------------------------- -->
  <!--- ADDRESS - OPTIONS - -------------------------->
  <!-- -------------------------------------------- -->
  <div *ngIf="!display">
    <h2 i18n="@@WALLET_V2_SETTINGS_TOKENS__ONCHAIN_ADDRESS">
      On-Chain Address
    </h2>
    <ng-container *ngTemplateOutlet="onchainDesc"></ng-container>
    <div class="m-walletSettings__recommendation">
      <i class="material-icons">thumb_up</i
      ><span i18n="@@WALLET_V2_SETTINGS_TOKENS__RECOMMENDED">RECOMMENDED</span>
    </div>
    <ul class="m-walletSettings__tokenSetupOptionsContainer">
      <li class="m-walletSettings__tokenSetupOption--metamask">
        <div>
          <h2>
            Web3 Wallet
          </h2>
        </div>
        <ng-container *ngIf="hasExternal">
          <p i18n="@@WALLET_V2_SETTINGS_TOKENS__MINDS_RECOMMENDS_COINBASE_INFO">
            Minds recommends using Coinbase for the most seamless user
            experience.
          </p>
          <!-- <p *ngIf="linkingMetamask && !providedAddress">
            MetaMask is either locked or connected to another network.
          </p> -->
          <m-button
            [disabled]="inProgress || linkingMetamask"
            [saving]="inProgress || linkingMetamask"
            (onAction)="useExternal()"
            i18n="@@WALLET_V2_SETTINGS_TOKENS__LINK_WALLET"
            color="blue"
          >
            Link Wallet Provider
          </m-button>
        </ng-container>
      </li>

      <li class="m-walletSettings__tokenSetupOption--custom">
        <h2 i18n="@@WALLET_V2_SETTINGS_TOKENS__CUSTOM">
          Custom
        </h2>
        <p i18n="@@WALLET_V2_SETTINGS_TOKENS__WALLET_ALT_INFO">
          You don’t need to use a Web3 Wallet provider. You can alternatively
          manage your own address.
        </p>
        <div>
          <a (click)="display = Views.CreateAddress">Create a new address</a>
          <span>or</span>
          <a (click)="display = Views.ProvideAddress">Use your public key</a>
        </div>
      </li>
      <p *ngIf="currentAddress">
        <a
          class="m-walletSecondaryText--backButton"
          (click)="backToCurrentAddress()"
          ><i class="material-icons">❮</i
          ><span i18n="@@WALLET_V2_SETTINGS_TOKENS__BACK_TO_CURRENT"
            >Back to current address</span
          ></a
        >
      </p>
    </ul>
    <p class="m-walletSecondaryText--error" *ngIf="error">{{ error }}</p>
  </div>

  <ul *ngIf="display">
    <!-- -------------------------------------------- -->
    <!--- ADDRESS - CREATE ----------------------------->
    <!-- -------------------------------------------- -->
    <li *ngIf="display === Views.CreateAddress">
      <!-- Address not created yet -->
      <h2 i18n="@@WALLET_V2_SETTINGS_TOKENS__CREATE_ADDRESS">
        Create Address
      </h2>
      <p
        *ngIf="!generatedAccount"
        class="m-walletSecondaryText--desc"
        i18n="@@WALLET_V2_SETTINGS_TOKENS__GENERATE_CUSTOM_ADDRESS_INFO"
      >
        Generate a custom address to use instead of a Wallet Provider. Once the
        address is generated, you will be provided with a link to download the
        address and private key.
      </p>
      <m-button
        *ngIf="!generatedAccount"
        [saving]="inProgress"
        (onAction)="createAddress()"
        i18n="@@WALLET_V2_SETTINGS_TOKENS__CREATE_ADDRESS"
        color="blue"
      >
        Create Address
      </m-button>
      <!-- Address created -->
      <p
        *ngIf="generatedAccount"
        class="m-walletSecondaryText--desc"
        i18n="@@WALLET_V2_SETTINGS_TOKENS__THE_ADDRESS_X_WAS_SUCCESSFULLY"
      >
        The address
        <span class="m-walletSecondaryText--emphasis">{{
          generatedAccount.address
        }}</span>
        was successully saved as your on-chain address. Click the button below
        to download its private key - you will need it to conduct transactions,
        so ensure you safely store the private key file.
      </p>

      <m-button
        *ngIf="generatedAccount"
        [saving]="inProgress"
        (onAction)="downloadPrivateKey()"
        i18n="@@WALLET_V2_SETTINGS_TOKENS__DOWNLOAD_PRIVATE_KEY"
        color="blue"
      >
        Download Private Key
      </m-button>
      <a class="m-walletSecondaryText--backButton" (click)="display = null"
        ><i class="material-icons">❮</i
        ><span i18n="@@WALLET_V2_SETTINGS_TOKENS__BACK_TO_SETTINGS"
          >Back to settings</span
        ></a
      >
    </li>
    <!-- -------------------------------------------- -->
    <!--- ADDRESS - PROVIDE ---------------------------->
    <!-- -------------------------------------------- -->
    <li *ngIf="display === Views.ProvideAddress">
      <h2 i18n="@@WALLET_V2_SETTINGS_TOKENS__PROVIDE_ADDRESS">
        Provide Address
      </h2>
      <p
        class="m-walletSecondaryText--desc"
        i18n="@@WALLET_V2_SETTINGS_TOKENS__ENTER_ADDRESS_AS_WALLET_INFO"
      >
        Enter the address that will be stored as your wallet for Minds on-chain
        tokens and Ether payments. To conduct transactions you will need your
        wallet's private key.
      </p>

      <form
        *ngIf="form"
        [formGroup]="form"
        class="m-walletButtonLayout--buttonOffsetRight"
      >
        <div class="m-walletForm__fieldsContainer">
          <div class="m-walletForm__field--text stretchedField">
            <div class="m-walletForm__row--label">
              <label
                for="addressInput"
                i18n="@@SETTINGS_TOKENS__ONCHAIN_ADDRESS"
                >On-chain Address</label
              >
              <m-tooltip icon="help">
                <ng-container i18n="@@SETTINGS_TOKENS__ONCHAIN_ADDRESS_INFO"
                  >This address is where you will receive on-chain Minds tokens
                  and Ether payments</ng-container
                >
              </m-tooltip>
            </div>
            <div
              class="m-walletForm__row--input"
              [ngClass]="{
                invalid:
                  (form.dirty || form.touched) &&
                  addressInput.hasError('format')
              }"
            >
              <input
                type="text"
                id="addressInput"
                name="addressInput"
                formControlName="addressInput"
                class="form-control"
                [readonly]="inProgress"
              />
            </div>
            <div class="m-walletForm__row--validation">
              <p
                *ngIf="
                  (form.dirty || form.touched) &&
                  addressInput.hasError('format')
                "
                i18n="@@SETTINGS_TOKENS__INVALID_ADDRESS_FORMAT"
              >
                Invalid address format
              </p>
            </div>
          </div>
        </div>
        <div class="m-walletForm__buttonsContainer">
          <m-button
            [disabled]="
              inProgress ||
              ((this.form.dirty || this.form.touched) && this.form.invalid)
            "
            [saving]="inProgress"
            (onAction)="provideAddress()"
            i18n="@@SETTINGS_TOKENS__UPDATE_ONCHAIN_ADDRESS"
            color="blue"
          >
            Update on-chain address
          </m-button>
        </div>
      </form>
      <a class="m-walletSecondaryText--backButton" (click)="display = null"
        ><i class="material-icons">❮</i
        ><span i18n="@@SETTINGS_TOKENS__BACK_TO_SETTINGS"
          >Back to settings</span
        ></a
      >
    </li>

    <!-- -------------------------------------------- -->
    <!--- ADDRESS - CURRENT ---------------------------->
    <!-- -------------------------------------------- -->
    <li *ngIf="display === Views.CurrentAddress">
      <h2 i18n="@@SETTINGS_TOKENS__ONCHAIN_ADDRESS">
        On-Chain Address
      </h2>
      <ng-container *ngTemplateOutlet="onchainDesc"></ng-container>

      <p
        class="m-walletSecondaryText--label"
        i18n="@@SETTINGS_TOKENS__CURRENT_ADDRESS"
      >
        Current address
      </p>
      <div class="m-walletSettings__currentAddressContainer">
        <div class="m-walletPrimaryText">{{ currentAddress }}</div>
        <a (click)="changeProvider()" i18n="@@SETTINGS_TOKENS__CHANGE_ADDRESS"
          >Change Address</a
        >
        <ng-container *mIfFeature="'unique-onchain'">
          &nbsp;
          <a
            (click)="validate()"
            i18n="@@SETTINGS_TOKENS__VALIDATR_ADDRESS"
            *ngIf="isVerified === false"
            >Validate Address</a
          >
          <a
            (click)="unValidate()"
            i18n="@@SETTINGS_TOKENS__VALIDATR_ADDRESS"
            *ngIf="isVerified === true"
            >Remove Validation</a
          >
        </ng-container>
      </div>
    </li>
  </ul>
  <p class="m-walletSecondaryText--error" *ngIf="error">{{ error }}</p>
</div>

<!-- -------------------------------------------- -->
<!--- ONCHAIN DESCRIPTION TEMPLATE ----------------->
<!-- -------------------------------------------- -->
<ng-template #onchainDesc>
  <p
    class="m-walletSecondaryText--desc"
    i18n="@@SETTINGS_TOKENS__TO_RECEIVE_INFO"
  >
    To receive on-chain payments from other channels (e.g. from a Wire or a
    Boost), you will need an on-chain address. You can change it here at any
    time. Note: your on-chain address is the same as your Ether address.
    <m-tooltip icon="help">
      Why? On-chain tokens run on the Ethereum network and require Ether to
      send.
    </m-tooltip>
  </p>
</ng-template>
