.m-firehose {
  max-width: 1280px;

  minds-activity {
    .item-image-video {
      video {
        width: 100%;
        height: auto;
        max-height: 400px;
      }
    }

    .item-image {
      img {
        width: 100%;
        max-height: 400px;
        object-fit: contain;
      }
    }

    minds-rich-embed {
      .thumbnail {
        img {
          width: auto;
          max-height: 400px;
        }
      }
    }
  }

  .m-firehose__moderatorAction {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 25px;
    max-width: 270px;
    cursor: pointer;
    transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);

    &.m-firehose__moderatorAction--leftButton {
      justify-content: right;
      &:hover {
        @include m-theme() {
          color: themed($m-red);
        }
      }
      &:active {
        @include m-theme() {
          color: themed($m-red-dark);
        }
      }
    }

    &.m-firehose__moderatorAction--rightButton {
      justify-content: left;
      &:hover {
        @include m-theme() {
          color: themed($m-green);
        }
      }
      &:active {
        @include m-theme() {
          color: themed($m-green-dark);
        }
      }
    }
  }

  .m-firehose__sort-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    margin-bottom: 16px;
    @include m-theme() {
      background-color: themed($m-bgColor--primary);
    }

    m-sort-selector {
      width: 100%;
    }
    .m-sort-selector--custom-type-dropdown,
    .m-sort-selector--plus-filter-dropdown {
      flex-grow: 1;
      text-align: end;
    }
  }

  .m-firehose__spinner {
    text-align: center;
  }
}
