<minds-card
  *ngIf="boost.entity"
  [object]="boost.entity"
  [flags]="{ hideTabs: true }"
  class="mdl-card mdl-shadow--2dp"
></minds-card>

<div class="m-boost-card--manager">
  <!-- Destination, if incoming P2P -->
  <div
    *ngIf="type == 'p2p' && !isIncoming()"
    class="m-boost-card--manager-item"
  >
    <i class="material-icons">perm_identity</i>
    <a [routerLink]="['/', boost.destination.username]"
      >@{{ boost.destination.username }}</a
    >
  </div>

  <!-- Impressions, if applicable -->
  <div
    *ngIf="boost.impressions"
    class="m-boost-card--manager-item m-boost-card--impressions"
  >
    <i class="material-icons">remove_red_eye</i>
    <ng-container i18n="@@M__COMMON__VIEWS_WITH_COUNT"
      >{{ boost.impressions | number }} views</ng-container
    >
  </div>

  <div
    *ngIf="boost.handler !== 'content' && boost.impressions"
    class="m-boost-card--manager-item m-boost-card--met-impressions"
  >
    <i class="material-icons">done</i>
    <ng-container
      *ngIf="boost.state !== 'completed'; else completedBlock"
      i18n="@@BOOST__CONSOLE__CARD__VIEWS_SO_FAR"
      >{{ boost.met_impressions | number }} views so far</ng-container
    >
    <ng-template #completedBlock i18n="@@BOOST__CONSOLE__CARD__VIEWS_DELIVERED"
      >{{ boost.met_impressions | number }} views delivered</ng-template
    >
  </div>

  <!-- USD bid, if applicable -->
  <div *ngIf="boost.method == 'usd'" class="m-boost-card--manager-item">
    <i class="material-icons">attach_money</i>
    <ng-container i18n="@@BOOST__CONSOLE__CARD__USD_VALUE"
      >{{ boost.bid / 100 | currency: 'USD':true }} USD</ng-container
    >
  </div>

  <!-- Points bid, if applicable -->
  <div *ngIf="boost.method == 'points'" class="m-boost-card--manager-item">
    <i class="material-icons">account_balance</i>
    <ng-container i18n="@@BOOST__CONSOLE__CARD__POINTS_VALUE"
      >{{ boost.bid | number }} points</ng-container
    >
  </div>

  <div
    *ngIf="boost.method == 'tokens'"
    class="m-boost-card--manager-item m-boost-card--bid"
  >
    <i class="material-icons">account_balance</i>
    <ng-container i18n="@@BOOST__CONSOLE__CARD__TOKENS_VALUE"
      >{{ boost.bid | token: 18 | number }} tokens</ng-container
    >
  </div>

  <!-- State (non-P2P or incoming P2P) -->
  <div
    *ngIf="type != 'p2p' || !isIncoming()"
    class="m-boost-card--manager-item m-boost-card--state"
  >
    <i class="material-icons">hourglass_empty</i>
    {{ boost.state }}
  </div>

  <!-- Facebook crosspost -->
  <div
    *ngIf="boost.postToFacebook"
    class="m-boost-card--manager-item m-boost-card--post-to-facebook"
  >
    <svg width="32" height="32" viewBox="-2 -2 32 32" class="m-facebook-icon">
      <path
        d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"
      ></path>
    </svg>
  </div>

  <!-- Boost creation time, if not scheduled -->
  <div *ngIf="!boost.scheduledTs" class="m-boost-card--manager-item">
    <i class="material-icons">access_time</i>
    {{ boost.time_created * 1000 | date: 'short' }}
  </div>

  <!-- Actions -->
  <div *ngIf="boost.scheduledTs" class="m-boost-card--manager-item">
    <i class="material-icons">access_alarm</i>
    {{ boost.scheduledTs * 1000 | date: 'short' }}
  </div>

  <div
    *ngIf="canAccept() || canReject() || canRevoke()"
    class="m-boost-card--manager-item m-boost-card--manager-item--buttons"
  >
    <m-button
      class="m-boostCardManagerButton--revoke"
      *ngIf="canRevoke()"
      color="red"
      (onAction)="revoke()"
      i18n="@@BOOST__CONSOLE__CARD__REVOKE_ACTION"
    >
      Revoke
    </m-button>

    <m-button
      class="m-boostCardManagerButton--reject"
      *ngIf="canReject()"
      color="red"
      (onAction)="reject()"
      i18n="@@M__ACTION__REJECT"
    >
      Reject
    </m-button>

    <m-button
      class="m-boostCardManagerButton--accept"
      *ngIf="canAccept()"
      color="blue"
      (onAction)="accept()"
      i18n="@@M__ACTION__ACCEPT"
    >
      Accept
    </m-button>
  </div>
</div>

<div
  class="m-boost-card--rejection-reason"
  *ngIf="boost.rejection_reason && boost.rejection_reason != -1"
>
  <i class="material-icons">warning</i>
  <ng-container i18n="@@BOOST__CONSOLE__CARD__PREVIOUS_REJECTION"
    >Your boost was rejected:
    {{ findReason(boost.rejection_reason)?.label }}</ng-container
  >
</div>
