<div class="m-topbar--row">
  <a class="m-topbar--logo" routerLink="/">
    <img [src]="cdnAssetsUrl + 'assets/logos/bulb.svg'" />
  </a>

  <ng-content select="[search]"></ng-content>

  <m-topbar--navigation></m-topbar--navigation>

  <div class="m-layout--spacer"></div>

  <div class="m-topbar--icons" *ngIf="session.isLoggedIn()">
    <ng-content select="[icons]"></ng-content>
  </div>

  <m-button
    color="blue"
    [routerLink]="['/boost/console/newsfeed/history', { toggled: true }]"
    *ngIf="session.isLoggedIn()"
  >
    <ng-container i18n="verb|@@M__ACTION__BOOST">Boost</ng-container>
  </m-button>

  <div class="m-dropdown m-topbar--account" *ngIf="session.isLoggedIn()" #menu>
    <a (click)="menu.value = !menu.value">
      <img
        src="/icon/{{ session.getLoggedInUser().guid }}/small/{{
          session.getLoggedInUser().icontime
        }}"
      />
    </a>
    <ul class="m-dropdown__list" [hidden]="!menu.value">
      <li
        class="m-dropdownList__item"
        *ngIf="session.isLoggedIn()"
        (click)="menu.value = false"
      >
        <a [routerLink]="['/', session.getLoggedInUser().username]">
          <i class="material-icons">people</i>
          <span i18n="verb|@@M__ACTION__VIEW_CHANNEL">View Channel</span>
        </a>
      </li>
      <li
        class="m-dropdownList__item"
        *ngIf="session.isLoggedIn() && session.isAdmin()"
        (click)="menu.value = false"
      >
        <a [routerLink]="['/admin/analytics']">
          <i class="material-icons">build</i>
          <span i18n="@@COMMON__ADMIN">Admin</span>
        </a>
      </li>
      <li
        class="m-dropdownList__item"
        *ngIf="session.isLoggedIn()"
        (click)="menu.value = false"
      >
        <a [routerLink]="['/settings/general']">
          <i class="material-icons">settings</i>
          <span i18n="@@COMMON_SETTINGS">Settings</span>
        </a>
      </li>
      <ng-container *mIfFeature="'helpdesk'; else faq"> </ng-container>
      <ng-template #faq>
        <li class="m-dropdownList__item" (click)="menu.value = false">
          <a [routerLink]="['/faq']">
            <i class="material-icons">help_outline</i>
            <span i18n="@@COMMON_FAQ">FAQ</span>
          </a>
        </li>
      </ng-template>
      <li class="m-dropdownList__item" (click)="menu.value = false">
        <ng-container *mIfFeature="'helpdesk'; else helpAndSupport">
          <a routerLink="/help">
            <i class="material-icons">help_outline</i>
            <span i18n="@@COMMON__HELP DESK">Help Desk</span>
          </a>
        </ng-container>
        <ng-template #helpAndSupport>
          <a [routerLink]="['/groups/profile/', '100000000000000681']">
            <i class="material-icons">help_outline</i>
            <span i18n="@@COMMON__HELP_AND_SUPPORT">Help & Support</span>
          </a>
        </ng-template>
      </li>
      <li class="m-dropdownList__item">
        <a
          target="_blank"
          [href]="cdnAssetsUrl + 'assets/documents/Whitepaper-v0.5.pdf'"
        >
          <i class="material-icons">description</i>
          <span i18n="@@COMMON__WHITEPAPER">Whitepaper</span>
        </a>
      </li>
      <li
        class="m-dropdownList__item"
        *ngIf="session.isLoggedIn()"
        (click)="menu.value = false"
      >
        <a [routerLink]="['/canary']">
          <i class="material-icons">new_releases</i>
          <span
            *ngIf="!session.getLoggedInUser().canary"
            i18n="@@COMMON__OPT_INTO_EXPERIMENTS"
            >Opt-in to Experiments</span
          >
          <span *ngIf="session.getLoggedInUser().canary" i18n="@@COMMON__CANARY"
            >Canary</span
          >
        </a>
      </li>
      <li
        class="m-dropdownList__item"
        *ngIf="session.isLoggedIn()"
        (click)="menu.value = false"
      >
        <a [routerLink]="['/logout']">
          <i class="material-icons">exit_to_app</i>
          <span i18n="@@COMMON_LOGOUT">Logout</span>
        </a>
      </li>
    </ul>
    <div
      class="minds-bg-overlay"
      (click)="menu.value = !menu.value"
      [hidden]="!menu.value"
    ></div>
  </div>

  <m-button
    color="blue"
    *ngIf="!session.isLoggedIn()"
    [routerLink]="['/login']"
    routerLinkActive="hidden"
  >
    <ng-container i18n="@@M__ACTION__LOGIN">Login</ng-container>
  </m-button>
</div>

<div class="m-topbar--toaster">
  <!--*ngIf="session.isLoggedIn() && notifications"-->
  <ng-template dynamic-host></ng-template>
</div>
